bg_galaxy.dat
bullet_606.cat
bullet_814.cat
bullet_f435w_drz_sci.fits
bullet_f435w_RMS.fits
bullet_f606w.psf
bullet.jpg
distorted_field.fits
ellipticity_606.dat
FITS File Handling (astropy.io.fits) — Astropy v5.0.1.png