bg_galaxy.dat
bullet_f435w_drz_sci.fits
bullet_f435w_RMS.fits
bullet_f606w.psf
bullet.jpg
ellipticity_606.dat
FITS File Handling (astropy.io.fits) — Astropy v5.0.1.png
distorted_field.fits
acs_dhb.pdf
sample.csv
bullet_f814w_drz_sci.fits
bullet_f814w_RMS.fits